<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Hinata needs internet access to talk to the self-hosted server. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Hinata"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Let app_links be the single deep-link handler. Without this,
                 Flutter's built-in deep linking also feeds the raw URI
                 (e.g. hinata://auth-callback/?...) to go_router, which can't
                 match it and shows "Page Not Found". app_links still receives
                 both the custom-scheme and verified https App Links. -->
            <meta-data
              android:name="flutter_deeplinking_enabled"
              android:value="false"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep links: hinata://auth-callback (SSO) and hinata://invite (email invitation) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="hinata" android:host="auth-callback"/>
                <data android:scheme="hinata" android:host="invite"/>
                <data android:scheme="hinata" android:host="reset-password"/>
            </intent-filter>
            <!-- Android App Links (Option B): verified https deep links from the
                 production web domain open the app directly. autoVerify checks
                 https://track.asta.hn/.well-known/assetlinks.json against this
                 app's signing certificate. Scoped to the routes the app handles
                 (issue detail + the token email flows). -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="track.asta.hn"/>
                <data android:pathPrefix="/issues"/>
                <data android:pathPrefix="/invite"/>
                <data android:pathPrefix="/reset-password"/>
            </intent-filter>
            <!-- Hinata Connect relay: the ONE verified domain for the white-label
                 app, so invite/reset links from ANY self-hosted server open the
                 app. Verified against
                 https://connect.track.asta.hn/.well-known/assetlinks.json. -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="connect.track.asta.hn"/>
                <data android:pathPrefix="/l/"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
